
@model LibraryLogin.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
</head>
<body>
    
    <div class="container w-50">
        <h2>Выполните вход:</h2>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "Логин")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "Пароль")
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
            <p>Все еще не зарегистрированы?</p>
            <a class="btn btn-primary" href="#">Регистрация</a>
            <button type="submit" class="btn btn-success">Войти</button>

            if (ViewBag.NotValidData != null)
            {
                <p class="alert alert-danger m-3">
                  Неправильные данные формы.
                </p>
            }
        }
    </div>
</body>
</html>
